<footer class="site-footer" style="margin:30px">
  <span class="site-footer-owner"><a target="_blank" 
                                     href="{{ site.url }}">{{ site.title }}</a> is on <a target="_blank" href="https://www.github.com/penrose-lib">GitHub</a>.</span>
  <span style="float:right">
    <a href="https://penrose.github.io" target="_blank"><span class="label label-primary" style="margin-right:5px">Documentation</span></a>
    <a href="{{ site.github }}/docs/" target="_blank"><span class="label label-primary" style="margin-right:5px">API</span></a>
    <a href="https://www.github.com/penrose-lib"><span class="label label-primary">Penrose Library</span></a>

  </span>
</footer>
